<nav class="navbar">
    <div class="navLinks">
        <ul>
            <li><a class='navLink' href="/">home</a></li>
            <li><a class='navLink' href="/posts/addpost" id="addPost">post a recipe</a></li>
            <li><a class='navLink' href="/posts/explore" id="explore">explore</a></li>
            <li><a class='navLink' href="/about" id="about">about</a></li>
        </ul>
    </div>
</nav>